---
import BaseLayout from "./pages/layout/BaseLayout.astro";
const title = "Vitness | Dashboard";
const mainPage = "";
const page = "index";
---

<BaseLayout title={title} mainPage={mainPage} page={page}>
  <div class="container-fluid py-4">
    <h1>Welcome to the Vitness</h1>
  </div>
</BaseLayout>
